---
title: "Why fuzzing over formal verification"
date: Fri, 22 Mar 2024 09:00:28 +0000
draft: false
type: posts
categories: 
- 
---
# Why fuzzing over formal verification

<br/>

<br/>
We recently introduced our new offering, invariant development as a service. A recurring question that we are asked is, “Why fuzzing instead of formal verification?” And the answer is, “It’s complicated.” We use fuzzing for most of our audits but have used formal verification methods in the \[…\]

#### [Source](https://blog.trailofbits.com/2024/03/22/why-fuzzing-over-formal-verification/)

<br/>
---
