---
title: "How to Protect Your Social Media Passwords with Multi-factor Verification"
date: 2025-01-03
categories: 
  - "security"
---

![](https://www.mcafee.com/blogs/wp-content/uploads/2013/07/300x200_Blog_112224.png)

Two-step verification, two-factor authentication, multi-factor authentication…whatever your social media platform calls it, it’s an excellent way to protect your accounts.

There’s a good chance you’re already using multi-factor verification with your other accounts — for your bank, your finances, your credit card, and any number of things. The way it requires an extra one-time code in addition to your login and password makes life far tougher for hackers.

It’s increasingly common to see nowadays, where all manner of online services only allow access to your accounts after you’ve provided a one-time passcode sent to your email or smartphone. That’s where two-step verification comes in. You get sent a code as part of your usual login process (usually a six-digit number), and then you enter that along with your username and password.

Some online services also offer the option to use an authenticator app, which sends the code to a secure app rather than via email or your smartphone. Authenticator apps work much in the same way, yet they offer three unique features:

- They keep the authentication code local to your device, rather than sending it unencrypted over email or text.
- This makes it more secure than email- and text-based authentication because they can be intercepted.
- It can also provide codes for multiple accounts, not just your social media account.

Google, Microsoft, and others offer authenticator apps if you want to go that route. You can get a good list of options by checking out the “editor’s picks” at your app store or in trusted tech publications.

Whichever form of authentication you use, always keep that secure code to yourself. It’s yours and yours alone. Anyone who asks for that code, say someone masquerading as a customer service rep, is trying to scam you. With that code, and your username/password combo, they can get into your account.

## **Before we talk about multi-factor verification, let’s talk about passwords**

Passwords and two-step verification work hand-in-hand to keep you safer. Yet not any old password will do. You’ll want a strong, unique password. Here’s how that breaks down:

- **Strong:** A combination of at least 12 uppercase letters, lowercase letters, symbols, and numbers. Hacking tools look for word and number patterns. By mixing the types of characters, you break the pattern and keep your account safe.
- **Unique:** Every one of your accounts should have its own password. Yes, all. And if that sounds like a lot of work, a password manager can do the work for you. It creates strong, unique passwords and stores them securely.

Now, with strong passwords in place, you can get to setting up multi-factor verification on your social media accounts.

## **Multi-factor authentication for Facebook**

1. Click on your profile picture in the top right, then click  **Settings and Privacy**.
2. Click **Settings**.
3. Click **Accounts Center**, then click **Password and Security**.
4. Click **Two-factor authentication**, then click on the account that you’d like to update.
5. Choose the security method you want to add and follow the on-screen instructions.

When you set up two-factor authentication on Facebook, you’ll be asked to choose one of three security methods:

- Tapping your **security key** on a compatible device.
- Login codes from a **third-party authentication app**.
- **Text message (SMS) codes** from your mobile phone.

And here’s a link to the company’s full walkthrough: https://www.facebook.com/help/148233965247823

## **Multi-factor authentication for Instagram**

1. Click **More** in the bottom left, then click **Settings**.
2. Click **See more in Accounts Center**, then click **Password and Security**.
3. Click **Two-factor authentication**, then select an account.
4. Choose the security method you want to add and follow the on-screen instructions.

When you set up two-factor authentication on Instagram, you’ll be asked to choose one of three security methods: an authentication app, text message, or WhatsApp.

And here’s a link to the company’s full walkthrough: https://help.instagram.com/566810106808145

## **Multi-factor authentication for WhatsApp**

1. Open WhatsApp **Settings**.
2. Tap **Account** > **Two-step verification** > **Turn on** or **Set up PIN.**
3. Enter a six-digit PIN of your choice and confirm it.
4. Provide an email address you can access or tap **Skip** if you don’t want to add an email address. (Adding an email address lets you reset two-step verification as needed, which further protects your account.
5. Tap **Next**.
6. Confirm the email address and tap **Save** or **Done**.

And here’s a link to the company’s full walkthrough: https://faq.whatsapp.com/1920866721452534

## **Multi-factor authentication for YouTube (and other Google accounts)**

1. Open your Google Account.
2. In the navigation panel, select **Security**.
3. Under “How you sign in to Google,” select **2-Step Verification** > **Get started**.
4. Follow the on-screen steps.

And here’s a link to the company’s full walkthrough: https://support.google.com/accounts/answer/185839?hl=en&co=GENIE.Platform%3DDesktop

## **Multi-factor authentication for TikTok**

1\. Tap**Profile**at the bottom of the screen.  
2\. Tap the **Menu** button at the top.  
3\. Tap **Settings and Privacy,** then **Security**.  
4\. Tap **2-step verification** and choose at least two verification methods: SMS (text), email, and authenticator app.  
5\. Tap **Turn on** to confirm.

And here’s a link to the company’s full walkthrough: https://support.tiktok.com/en/account-and-privacy/personalized-ads-and-data/how-your-phone-number-is-used-on-tiktok

The post How to Protect Your Social Media Passwords with Multi-factor Verification appeared first on McAfee Blog.
