---
title: "Nuclei flaw lets malicious templates bypass signature verification"
date: 2025-01-05
categories: 
  - "cve"
  - "cybersecurity"
  - "security"
tags: 
  - "cve"
  - "cybersecurity"
  - "security"
---

### Nuclei flaw lets malicious templates bypass signature verification

![](https://upload.cvefeed.io/news/22349/thumbnail.jpg)

A now-fixed vulnerability in the open-source vulnerability scanner Nuclei could potentially allow attackers to bypass signature verification while sneaking malicious code into templates that execute o ... _Read more_

**Published Date:** Jan 04, 2025 (8 hours, 8 minutes ago)

Vulnerabilities has been mentioned in this article.

CVE-2024-43405

Go to Source
