---
title: "Ph.D. position in Hardware Security (Verification)"
date: 2025-03-19
categories: 
  - "cryptography"
  - "security"
tags: 
  - "cryptography"
  - "security"
---

Job Posting: **Ph.D. position in Hardware Security (Verification)**  
_Horst Görtz Institute for IT Security, Ruhr-Universität Bochum, Bochum, Germany_

The newly established junior research group on _Computer-Aided Verification of Physical Security Properties (CAVE)_ is looking for excellent Ph.D. candidates in the area of hardware security, particularly (but not limited to) those specialized in:

- Hardware Security Verification: We explore how to perform efficient pre-silicon security verification with respect to physical implementation attacks (Side-Channel Analysis / Fault-Injection Analysis).
- Physical Implementation Attacks: We deepen the (theoretical) understanding of active and passive physical implementation attacks to build formal attacker models for security verification.
- Secure Hardware Design: We investigate how to build secure hardware circuits that can resist physical implementation attacks.

If you are interested in applying, please send an email to Dr. Pascal Sasdrich (pascal.sasdrich@rub.de) with the following documents in a single PDF (max. 10 MB) and subject line "\[CAVE\] Application for PhD position":

1. Your CV, including a transcript of records.
2. A brief cover letter describing your research interests.
3. Contact details of 2-3 potential references.

HGI and RUB stand for a collaborative, diverse, and inclusive workplace culture and promote equal opportunities. We strongly encourage applications from members of any underrepresented group in our research area. In particular, we invite and motivate women and individuals with disabilities to apply.

**Closing date for applications:**

**Contact:** Pascal Sasdrich (pascal.sasdrich@rub.de)

Go to Source
